.maincontent {
  width: 100%;
  text-align: center;
  margin-top: 50px;

  img {
    width: 35%;
  }

  .carouselcontainer {
    text-align: center;
  }

}

.descriptioncontainer {
  width: 100%;
  text-align: center;
  color: #b803ff;
  font-family: 'Lato', sans-serif;
}
