<footer>
  <div class="part">
    <div class="icon">
      <i class="fas fa-phone"></i>
    </div>
    <div class="desc">1-971-diaper</div>
  </div>
  <div class="part">
    <div class="icon">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="desc">confort@lookafter.com</div>
  </div>
  <a href="https://www.facebook.com" target="_blank">
    <div class="part">
      <div class="icon">
        <i class="fab fa-facebook-square"></i>
      </div>
      <div class="desc">conforto.diapers</div>
    </div>
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <div class="part">
      <div class="icon">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="desc">@conforto.diapers</div>
    </div>
  </a>
  <a href="https://www.youtube.com" target="_blank">
    <div class="part">
      <div class="icon">
        <i class="fab fa-youtube"></i>
      </div>
      <div class="desc">conforto.diapers</div>
    </div>
  </a>
</footer>
