
.main-class {
  width: 800px;
  margin: auto;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;

  .header {
    padding: 7px;
    font-size: 110%;
    background-color: #bd02ff;
    color: #fff;
  }

  .slider {
    width: 800px;
    overflow: hidden;

    ul {
      list-style: none;
      width: 2400px;
      position: relative;
      left: 0;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        float: left;
      }

      p {
        margin: 0;
      }
    }
  }
}
