<div mat-dialog-content>
  <mat-toolbar><span>Sign Up</span></mat-toolbar><br>
  <mat-form-field>
    <input matInput placeholder="Full name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="login()">Start!</button>
</div>
